.footer {
    display: flex;
    flex-direction: column;
}

.footer__wave {
    background: rgb(27, 30, 49);
    transform: skew(0, -5deg);
    height: 150px;
    width: 100%;
}
 
.wrapper__footer {
    background: rgb(27, 30, 49);
 
}

.footer__info-block {
    display: flex;
}