.wrapper__FormAndSlider {
    /* background-image: url(../../img/png/bg__form.png);
    background-repeat: no-repeat;
    background-position: 20% 100%;
    background-size: 100% 900px; */
}

.section__head--whited {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.section__head-decor--white {
    border-bottom: 1px solid #fff;
    margin-left: 20px;
    position: relative;
    left: 65px;
    top: -25px;
}

.section__form-subtitle {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}


.form {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.form__input {
    margin-right: 30px;
    width: 410px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 200px;
    background: transparent;
    color: #fff;
}

.form__btn-submit {
    width: 410px;
    height: 60px;
    background: #fff;
    color:rgb(61, 61, 61);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 200px;
    cursor: pointer;
}

.form__btn-submit:hover {
    background: rgb(27, 30, 49);
    color: #fff;
    transition: .5s;
    border: none;
}

.policy {
    margin-top: 38px;
    display: flex;
    color: #fff;
    margin-bottom: 180px;
}

.policy__text {
    margin-right: 5px;
}

.policy__link {
    color: #fff;
    text-decoration: underline;
}

.policy__link:hover {
    color: rgb(27, 30, 49);
    transition: .5s;
}

.wave--green {
    background: rgb(96, 200, 128);
    z-index: -25;
    position: relative;
    left: 0;
    top: -1450px;
    transform: skew(0, -5deg);
    height: 750px;
    width: 100%;
}