.servise__list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 65px;
}

.servise__list-item {
    display: flex;
    width: 1290px;
    height: 340px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgb(217, 217, 217);
    padding: 65px 55px 65px 55px;
}

.list__item--order {
    margin-right: 40px;
}

.item__order--decor {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(96, 200, 128);
    color: #fff;
}

.decor--number {
    position: relative;
    left: 3%;
    top: 35%;
    font-size: 36px;
    font-weight: 400;
    line-height: 75%;
    text-align: center;
}

.servise__item--info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.servise__item--title {
    font-size: 36px;
    font-weight: 400;
    line-height: 75%;
    text-align: left;
    margin-bottom: 30px;
}

.servise__item--text {
    font-size: 20px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: left;
    width: 90%;
    margin-bottom: 35px;
}

.servise__item--more {
    display: flex;
    align-items: center;
}

.servise__item--more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 80%;
    text-align: left;
    text-transform: uppercase;
    margin-right: 20px;
}

.servise__item--more-link:hover {
    text-decoration: underline;
}

.servises__link-more {
    font-size: 20px;
    font-weight: 400;
    line-height: 80%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: rgb(96, 200, 128);
}

.servises__container {
    margin-bottom: 180px;
}

.servises__link-more:hover {
    color: rgb(0, 253, 76);
    transition: .5s;
}

.wrapper__servises--stages {
    background-image: url("../../img/png/swipe.png");
    background-repeat: no-repeat;
    background-position: 20% 55%;
    background-size: 100% 1400px;
  
}

.head__title--white {
    color: #fff;
}